.material-symbols-outlined {
    font-size: medium;
    position: relative;
    top: 0.2em;
}

.task {
    margin-bottom: 2px;
    display: flex;
    align-items: baseline;
}

.title {
    flex-grow: 1;
}

.task > span {
    margin-left: 0.25em;
}

.task.type-deadline {
    background: #fee;
}

.task.state-DONE > .title > a {
    color: #666;
    text-decoration: line-through;
    font-style: italic;
}

.title > a {
    color: #000;
    text-decoration: none;
}

.type {
    font-size: medium;
    color: #666;
}

.date {
    color: #564720;
    font-size: large;
    margin-top: 1em;
    margin-bottom: 0.2em;
    height: 1.2em;
    font-family: serif;
    border-bottom: 1px solid #ccc;
}

.time {
    width: 3em;
    display: inline-block;
    font-size: small;
}

.today {
    /* color: #000; */
    font-weight: bold;
}

.priority {
    display: inline-block;
    width: 1.25em;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}

.priority-A {
    background: #c87588 !important;
}

.priority-B {
    background: #bfc875 !important;
}

.priority-C {
    background: #75c8c3 !important;
}

.priority-D {
    background: #7596c8 !important;
}

.priority-E {
    background: #857547 !important;
}

.effort {
    display: inline;
    float: right;
    font-size: small;
    text-align: center;
}

.box {
    background: #ccc;
    border-radius: 4px;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
