.type > .material-symbols-outlined {
    font-size: medium;
    position: relative;
    top: 0.2em;
}

.task.type-deadline {
    background: var(--bs-tertiary-bg);
}

.task.state-DONE > .title > a {
    color: var(--bs-secondary-color);
    text-decoration: line-through;
    font-style: italic;
}

.title > a {
    color: var(--bs-emphasis-color);
    text-decoration: none;
}

.type {
    font-size: medium;
    color: var(--bs-secondary-color);
}

.date {
    color: var(--bs-primary-text-emphasis);
    font-size: large;
    margin-top: 1em;
    margin-bottom: 0.2em;
    height: 1.2em;
    font-family: serif;
    border-bottom: 1px solid #ccc;
}

.date.today {
    font-weight: bold;
    font-size: x-large;
}

.date.overdue {
    color: var(--bs-danger-text-emphasis);
    background: var(--bs-danger-bg-subtle);
}

.time {
    width: 3em;
    font-size: small;
}

.priority {
    margin-top: 0.3em;
    width: 1.5em;
    height: 1.5em;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}

.priority-A {
    background: var(--bs-danger) !important;
}

.priority-B {
    background: var(--bs-warning) !important;
}

.priority-C {
    background: var(--bs-info) !important;
}

.priority-D {
    background: var(--bs-tertiary-color) !important;
}

.priority-E {
    background: var(--bs-dark-bg-subtle) !important;
}

.effort {
    font-size: small;
    text-align: center;
}

.box {
    background: var(--bs-secondary-bg);
    border-radius: 4px;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
