.App {
  text-align: center;
}

.task > span {
margin-left: 1em;
}

.task.scheduled {
background: #cce;
}

.task.deadline {
background: #ecc;
}

.title > a {
color: #000;
font-weight: bold;
text-decoration: none;
}

.type {
color: #666;
font-size: small;
}
